<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="/static/vendor/bootswatch/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/vendor/respond/dest/respond.min.js"></script>
    </head>
    <body id="container">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Photobooth</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p>Bienvenue !</p>
        <small>Comme dirait Christina Cordula, il faut "accessoiriser" son look !</small>
      </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="row">
              <div class="preview-placeholder">
                <img id="preview" src="" width="100%" height="100%"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid">
            <div class="row">
              <button type="button" id="btnPreview" class="btn btn-xlarge"><i class="fa fa-camera fa-5x" ></i></button>
            </div>
            <div class="row">
              <button type="button" id="btnPrint" class="btn btn-xlarge"><i class="fa fa-print fa-5x" ></i></button>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="text-center">
          Mariage Emi &amp; Thibault - 11 Juin 2016
        </div>
      </footer>

    </div> <!-- /container -->

    <div id="overlay" class="overlay" style="display: none;">
      <i class="fa fa-spinner fa-spin fa-5x"></i>
      <div>
        <p id="overlaytext"></p>
      </div>
    </div>

    <div id="countdown" class="overlay" style="display:none;">
      <div class="count"></div>
    </div>

    <script id="count-template" type="text/template">
     <span class="current top <%= currentSize %>"><%= time %></span>
     <span class="next top <%= nextSize %>"><%= nextTime %></span>
     <span class="current bottom <%= currentSize %>"><%= time %></span>
     <span class="next bottom <%= nextSize %>"><%= nextTime %></span>
    </script>

        <script src="/static/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/static/vendor/lodash/vendor/underscore/underscore-min.js"></script>
        <script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/vendor/screenfull/dist/screenfull.min.js"></script>
        <script src="/static/vendor/fastclick/lib/fastclick.js"></script>
        <script src="/static/js/countdown.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
